.drink-container{
    display: grid;
    grid-template-columns: 45% 55%;
}

.left-drink-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 100px;
    justify-items: center;
    align-items: center;
    border-right: 1px solid white;
    border-top: 1px solid white;
}

.left-drink-container img{
    height: 400px;
    grid-column: 2/3;
    grid-row: 1/2;
    transition: transform 0.5s ease-in-out;
}

.left-drink-container img:hover{
    transform: scale(1.3);
    cursor: pointer;
}
.left-drink-container button{
    grid-column: 2/3;
    grid-row: 2/3;
    border: none;
    outline: none;
    color: white;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    text-align: center;
    background-color: #ee6c4d;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    height: 40%;
    width: 40%;
    align-self: start;
    transition-property: background-color,border;
    transition:0.5s ease-in-out;
}

.left-drink-container button:hover{
    background-color: transparent;
    border: 2px solid #ee6c4d;
}

.left-arrow-info,.right-arrow-info{
    height: 40px;
    color: white;
    cursor: pointer;
    animation: initial_arrow_load 1s ease-in-out;
    transition-property: scale, color;
    transition: 0.5s ease-in-out;
}

@keyframes initial_arrow_load {
    0%{
        color: #ee6c4d;
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.left-arrow-info:hover,.right-arrow-info:hover{
    color: #ee6c4d;
    transform:scale(1.1);
}

.right-drink-info-container{
    display: grid;
    border-top: 1px solid white;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 2fr;
    justify-items: center;
    align-items: end;
}

.right-drink-info-container .right-container-title{
    grid-column: span 2;
    border-bottom: 1px solid white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-drink-info-container .right-container-title h1{
    grid-column: span 2;
    font-family: 'Inter', sans-serif;
    color: white;
    letter-spacing: 1px;
    font-size: 2rem;

}
.right-drink-info-container .result{
    color: #495b7d;
}

.right-drink-info-container .price{
    align-self: center;
    font-size: 2rem;
}

.right-drink-info-container .final-price {
    color: #f54254;
}
.right-drink-info-container h2{
    color: white;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;
}
.cart-energy{
    grid-column: 1/2;
    grid-row: 2/3;
}

.cart-sugar{
    grid-column: 1/2;
    grid-row: 3/4;
}
.cart-vendor{
    grid-column: 1/2;
    grid-row: 4/5;
}

.cart-price{
    grid-column: 1/2;
    grid-row: 6/7;
}

.cart-stock{
    grid-column: 1/2;
    grid-row: 5/6;
}
/**/

.cart-energy-total{
    grid-column: 2/3;
    grid-row: 2/3;
}

.cart-sugar-total{
    grid-column: 2/3;
    grid-row: 3/4;
}
.cart-vendor-total{
    grid-column: 2/3;
    grid-row: 4/5;
}

.cart-price-total{
    grid-column: 2/3;
    grid-row: 6/7;
}

.cart-stock-total{
    grid-column: 2/3;
    grid-row: 5/6;
}

.modal-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #495b7d;
    width: 50%;
    height: 50%;
    border-radius: 5px;
    z-index: 999;
    visibility: hidden;
    display: flex;
}
.modal-container form input[type=number]{
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    background-color: #495b7d;
    color: red;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
@media only screen and (max-width: 790px){
    .drink-container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100vh 100vh;
        width: 100%;
        overflow-y: scroll;
    }
    .left-drink-container{
        grid-template-rows: auto auto;
        grid-column: span -1;
        grid-row: span 1;
        width: 100%;
    }

    .left-drink-container button{
        height: 40px;
    }

    .right-drink-info-container{
        grid-column: span 1;
        grid-row: span 1;
        width: 100%;
    }

    .right-drink-info-container .right-container-title{
        text-align: center;
        font-weight: bold;
    }
    .right-drink-info-container .result:not(.final-price){
        color: #98c1d9;
    }


}