@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300&display=swap');
*,
*::after,
*::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

.grid-container{
    background: hsla(12, 83%, 62%, 1);
    background: linear-gradient(225deg, hsla(12, 83%, 62%, 1) 0%, hsla(214, 35%, 37%, 1) 74%);
    background: -moz-linear-gradient(225deg, hsla(12, 83%, 62%, 1) 0%, hsla(214, 35%, 37%, 1) 74%);
    background: -webkit-linear-gradient(225deg, hsla(12, 83%, 62%, 1) 0%, hsla(214, 35%, 37%, 1) 74%);
    display: grid;
    grid-template-rows: 100vh;
    height: 100vh;
}

.grid-container{
    grid-template-rows: 50px auto;
}

.navbar-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    padding: 15px;
    height: 100%;
    align-items: center;
    z-index:500;

}

.navbar-container .hamburger-menu{
    justify-self: end;
    z-index: 999;
}

.navbar-container .hamburger-menu:hover{
    color: #293241;
    transition: color .1s ease-in;
}




.navbar-container > .login-btn{
    height: 30px;
    width: 70px;
    font-family: 'Inter', sans-serif;
    font-weight:normal;
    letter-spacing: 1px;
    background-color: #ee6c4d;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.navbar-container > .login-btn:hover{
    background-color: #1c77c3;
    transition: background-color .2s ease-in;
}
.hamburger-menu{
    height: 30px;
    width: 30px;
    color: white;
    cursor: pointer;
}

.main-container{
    align-self: center;
    justify-self: center;
    font-family: 'Inter', sans-serif;
    color: white;
}

.main-container .energy-span{

    font-size:3rem;
}

.main-container .energy-span::after{
    content: "|";
    color: #ee6c4d;
}

.main-container .warehouse-span{
    font-size: 8rem;
}

.navbar{
    position: absolute;
    right: 0;
    height: 100vh;
    width: 20%;
    background-color: #98c1d9;
    flex-direction: column;
    justify-content: center;
}

.navbar .navbar-elements{
    display: flex;
    flex-direction:column;
    position: relative;
    top: 70px;
}
.navbar .navbar-elements div{
    color: white;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    margin-bottom: 20px;
}

.navbar-elements div > h1{
    font-size: 20px;
    letter-spacing: 1px;
}

.navbar-elements div.active{
    text-decoration: underline;
}


.navbar .navbar-elements div:hover{
    background-color: #ee6c4d;
    cursor: pointer;
    transition: background-color .2s ease-in;
}

.hide-navbar{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 500ms;

}

.show-navbar{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 500ms;
}

.login-container{
    align-self: center;
    justify-self: center;
    height: 500px;
    width:400px;
    border-radius: 10px;
    background-color: #ee6c4d;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -100px;
}

form{
    display: flex;
    flex-direction:column;
    padding: 5px;
    position: relative;

}

input{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    caret-color: white;
    padding: 10px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
}

input::placeholder{
    color: white;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

form button{
    background-color: #515c7a;
    padding: 8px;
    border-radius: 5px;
    border:none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    cursor:pointer;
    margin: 10px;
    width: 100px;
    align-self: center;
    position: relative;
    top: 30px;

}

form button:hover{
    background-color: #1c77c3;
    transition: background-color .2s ease-in;
}

form input:focus{
    outline: none;
    color: #ffff;
    text-align: center;
}

form a{
    color: white;
    font-family: 'Inter', sans-serif;
}

form a:hover{
    color: #1c77c3;
    transition: color .1s ease-in;

}

form span:hover{
    cursor: pointer;
}

.about-us-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.about-msg-container{
    grid-column: span 3;
    align-self: center;
    justify-self: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
}

.about-msg-container h1:nth-child(1){
    font-size: 3rem;
    font-weight: lighter;
    text-align: center;
}

.about-msg-container h1:nth-child(2){
    font-size: 6rem;
    text-align: center;
}
.about-msg-container h1:nth-child(3){
    font-size: 4rem;
    text-align: center;
    position: relative;
    top: 10px;
    color: #495b7d;
    font-style: italic;
}
.why-about{
    text-align: center;
    grid-column: 1;
    grid-row: 2;
}
.when-about{
    text-align: center;
    grid-column: 2;
    grid-row: 2;
}

.future-about{
    text-align: center;
    grid-column: 3;
    grid-row: 2;

}

.when-about, .why-about, .future-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Inter', sans-serif;
    padding: 0 20px 0 20px;
}

.when-about h1, .why-about h1, .future-about h1{
    color: white ;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
}
.when-about p, .why-about p, .future-about p{
    max-width: 400px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    white-space:normal;
    line-height:30px;
}


.user-icon{
    height: 18px;
    position: absolute;
    top: 15px;
    left: 5px;
    color: #495b7d;
}


.user-icon-register.ed-name{
    height: 18px;
    position: absolute;
    top: 190px;
    left: 5px;
    color: #495b7d;
}

.user-icon-register.ed-surname{
    height: 18px;
    position: absolute;
    top: 110px;
    left: 5px;
    color: #495b7d;
}

.password-icon{
    height: 18px;
    position: absolute;
    top: 105px;
    left: 5px;
    color: #495b7d;
}
.password-icon-register{
    height: 18px;
    position: absolute;
    top: 280px;
    left: 5px;
    color: #495b7d;
}

.welcome-container{
    text-align: center;
    height: fit-content;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.welcome-container h1{
    color: white;
    font-size: 40px;
}

.welcome-container h3{
    color: #ee6c4d;
    font-size: 60px;
}



@media only screen and (max-width: 790px) {
    .main-container .energy-span{
        font-weight: initial;
        font-size:2rem;
    }

    .main-container .warehouse-span{
        font-size: 4rem;
    }
    .navbar{
        width: 100%;
    }
    .about-msg-container h1:nth-child(2){
        font-size: 4rem;
    }

    .login-container{
        max-width: 300px;
        margin-top: 80px;
    }
    .welcome-container{
        margin-top: 20px;
    }

    .welcome-container h1{
        font-size: 2rem;
    }
    .welcome-container h3{
        font-size: 3rem;
    }

}